/* hpGen8/9 Label Styling */

div.hpGen8 {
  display: inline-block;
  margin-top: 0.1cm;
  margin-bottom: 0.1cm;
}

div.hpGen8.SFF {
  width: 0.9cm;
  height: 1.2cm;
  background: black;
  -webkit-clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 0% 100%);
}

div.hpGen8.LFF {
  width: 1.4cm;
  height: 1.7cm;
  background: black;
  -webkit-clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 0% 100%);
}

div.hpGen8 .speed {
  vertical-align: center;
  margin-top: 5%;
  margin-bottom: 0;
  text-align: center;  
  color: white;
  font-family: Arial, ' Helvetica Neue', Helvetica, sans-serif;
}

div.hpGen8 .interface {
  vertical-align: center;  
  text-align: center;
  margin-top: 2%;
  margin-bottom: -6%;
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
}

div.hpGen8 .capacity {
  vertical-align: center;
  text-align: center;
  margin-top: -6%;
  margin-bottom: 0;
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

div.hpGen8 .serial {
  margin-left: 6%;
  vertical-align: center;
  margin-top: 3%;
  text-align: left;
  color: white;
  font-family: Arial, ' Helvetica Neue', Helvetica, sans-serif;
}

div.hpGen8 .divider {
 margin-left: 10%;
 margin-top: 0;
 margin-bottom: 0;
 margin-right: 10%;
 height: 2%;
 background-color: white;
}

div.hpGen8.LFF div.capacity,
div.hpGen8.LFF div.speed,
div.hpGen8.LFF div.serial {
  font-size: 12px;
  font-weight: bold;
}

div.hpGen8.LFF div.interface {
  font-size: 14px;
}

div.hpGen8.SFF div.capacity,
div.hpGen8.SFF div.speed,
div.hpGen8.SFF div.serial {
  vertical-align: super;
  font-size: 8px;
  font-weight: bold;
}

